.success-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #20c997; // Màu nền xanh lá
    color: white;
    padding: 1rem 2rem;
    border-radius: 50px; // Bo tròn các góc
    font-size: 1rem;
    font-weight: bold;
    width: 300px;
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
    }
  }