.blog {
  background: linear-gradient(to bottom left, #400bb6, #2d067e);
  .header1 {
    padding: 20px;

    .logo {
      cursor: pointer;
      position: fixed;
      z-index: 1000;
      img {
        width: 100px;
        height: auto;
      }
    }

    .row {
      .menu {
        margin-top: 30px;
      }

      .t2{
        margin-top: 80px;
      }
    }


    .pointer {
      cursor: pointer;
    }

    .divider-img {
      margin-bottom: 44px;
      margin-left: 30px;
    }
    .menu {
      margin-top: 10px;
    }

    .aa {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      .txt {
        font-family: "San Francisco Text";
        font-weight: bold;
        font-size: 20px;
      }

      .ctn-hand {
        position: relative;
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;

        .rotating-text {
          position: absolute;
          width: 100%;
          height: 100%;
          animation: rotate 10s linear infinite;

          text {
            font-size: 10px;
            fill: #e289fe;
            font-family: "San Francisco Text";
          }
        }

        .hand-shake {
          width: 50px;
          height: auto;
          animation: shake 0.5s infinite;
        }

        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        @keyframes shake {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(10deg);
          }
          50% {
            transform: rotate(0deg);
          }
          75% {
            transform: rotate(-10deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .header1 {
      width: 100%;
      padding-bottom: 0px;
      margin-bottom: 0;

      .blog-i {
        margin-top: 80px;
      }
      .headline {
        font-size: 70px;
        flex-direction: row;
        align-items: flex-end;
        text-align: center;

        .divider-img {
          margin-left: 0;
          margin-bottom: 30px;
          width: 50px;
          margin-left: 10px;
        }
      }

      .menu {
        position: fixed;
        right: 25px;
        top: 0px;
      }
      .aa {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .ctn-hand {
          height: 120px;
          width: 120px;
        }

        .text-white {
          .txt {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .blog2-section {
    // background: linear-gradient(to bottom right, #2d067e, #400bb6);
    padding-left: 20px;
    padding-top: 100px;

    .blog2-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 70px;

      .blog2-content-title {
        font-size: 52px;
        color: #fff;
        cursor: pointer;
        font-family: "San Francisco Text";
        font-weight: bold;

        &:hover {
          color: #15b097;
        }
      }
    }

    .blog2-content-content {
      color: #fff;
      font-size: 18px;
      font-family: "San Francisco Text";
      font-weight: normal;
    }

    .date-button {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      .date {
        color: #e289fe;
        font-size: 16px;
        font-family: "San Francisco Text";
        font-weight: bold;
      }
    }

    .img-fluid {
      width: 704px;
      height: 534px;
    }
    @media (max-width: 767.98px) {
      .blog2-section {
        padding-top: 0px;
      }
    }
  }

  .blog3-section {
    padding-top: 100px;
    padding-left: 20px;

    .blog3-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 70px;

      .blog3-content-title {
        font-size: 52px;
        color: #fff;
        cursor: pointer;
        font-family: "San Francisco Text";
        font-weight: bold;

        &:hover {
          color: #15b097;
        }
      }
    }

    .blog3-content-content {
      color: #fff;
      font-size: 18px;
      font-family: "San Francisco Text";
    }

    .date-button {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      .date {
        color: #e289fe;
        font-size: 16px;
        font-family: "San Francisco Text";
        font-weight: bold;
      }
    }

    .bl-img {
      width: 704px;
      height: 534px;
      border-radius: 30px;
    }
  }

  .blog4-section {
    padding-top: 100px;
    padding-left: 20px;
    // background: linear-gradient(to bottom right, #2d067e, #400bb6);

    .blog4-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 70px;

      .blog4-content-title {
        font-size: 52px;
        color: #fff;
        cursor: pointer;
        font-family: "San Francisco Text";
        font-weight: bold;

        &:hover {
          color: #15b097;
        }
      }
    }

    .blog4-content-content {
      color: #fff;
      font-size: 18px;
      font-family: "San Francisco Text";
    }

    .date-button {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      .date {
        color: #e289fe;
        font-size: 16px;
        font-family: "San Francisco Text";
        font-weight: bold;
      }
    }

    .bl-img {
      width: 704px;
      height: 534px;
      border-radius: 30px;
    }
  }
  .blog5-section {
    padding: 100px 0 20px 20px;
    // background: linear-gradient(to bottom left, #400bb6, #2d067e);

    .blog5-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 70px;

      .blog5-content-title {
        font-size: 52px;
        color: #fff;
        cursor: pointer;
        font-family: "San Francisco Text";
        font-weight: bold;

        &:hover {
          color: #15b097;
        }
      }
    }

    .blog5-content-content {
      color: #fff;
      font-size: 18px;
      font-family: "San Francisco Text";
    }

    .date-button {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      .date {
        color: #e289fe;
        font-size: 16px;
        font-family: "San Francisco Text";
        font-weight: bold;
      }
    }

    .bl-img {
      width: 704px;
      height: 534px;
      border-radius: 30px;
    }

    .btn-showmore-container {
      display: flex;
      justify-content: center;
      margin: 100px 0;

      .btn-showmore {
        background-color: #e289fe;
        width: 250px;
        height: 60px;
        border-radius: 50px;
        border: none;
        transition: background-color 0.5s ease, color 0.5s ease;

        &:hover {
          background-color: #000;
          color: #e289fe;
        }
      }
    }
  }

  .blog2,
  .blog3-section,
  .blog4-section,
  .blog5-section {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    .blog2-section,
    .blog4-section {
      flex-direction: column-reverse;
    }

    .blog2-section .col-lg-6,
    .blog3-section .col-lg-6,
    .blog4-section .col-lg-6,
    .blog5-section .col-lg-6 {
      width: 100%;
      img {
        padding-right: 20px;
      }

      .date-button {
        margin-bottom: 40px;
      }
    }

    .btn-showmore-container {
      text-align: center;
      margin-top: 20px;
    }
  }
}
