.FAQS {
  background: linear-gradient(to bottom right, #2d067e, #400bb6);
  padding-bottom: 180px;
  position: relative;
  .header1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;

    .logo {
      cursor: pointer;
      position: fixed;
      z-index: 1000;

      img {
        width: 100px;
        height: auto;
        cursor: pointer;
      }
    }

    .menu {
      margin-top: 30px;
    }
  }

  .Fcontent {
    margin: 100px 0 0 0px;

    .headline {
      display: flex;
      align-items: flex-end;
      margin-left: 30px;
      font-size: 100px;
      font-family: "Usuzi", sans-serif;
      background: #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // -webkit-text-stroke: 2px white;
    }

    .divider-img {
      margin-bottom: 44px;
      margin-left: 30px;
    }

    .img1 {
      padding-left: 20px;
    }

    .img2 {
      position: absolute;
      left: 0;
      top: 848px;
    }

    .faq-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid #8066b9;
      margin: 20px 20px 0 20px;
      transition: color 2s;
      cursor: pointer;

      &.active {
        border-bottom: none;
      }

      .faq-button {
        background-color: #e289fe;
        border: none;
        border-radius: 20px;
        color: #333;
        font-size: 24px;
        width: 80px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-left: 30px;
      }

      .faq-text {
        font-family: "San Francisco Text";
        font-size: 28px;
        font-weight: 600;
        color: #fff;
        z-index: 1000;
        display: flex;
        align-items: center;

        .star-icon {
          display: none;
          margin-right: 10px;
          width: 24px;
          height: 24px;
        }
      }

      &:hover .star-icon {
        display: inline;
      }

      &::after {
        content: "";
        display: none;
      }

      &:hover .faq-text {
        color: #e289fe;
      }
      &.active .faq-text {
        color: #e289fe;
      }
      &.active .faq-button {
        color: #000;
      }

      &:hover .faq-button {
        background-color: #fff;
        color: #000;
        width: 40px;
        height: 40px;
      }
    }
    .faq-answer {
      font-family: "San Francisco Text";
      font-size: 16px;
      color: #fff;
      margin: 0 20px;
      font-weight: 400;

      .answer {
        margin-top: 20px;
        position: relative;
        padding-left: 20px;
      }

      .faq-divider {
        margin-top: 20px;
        border-bottom: 1px solid #8066b9;
      }
    }

    .faq-item.active + .faq-answer .faq-divider {
      display: block;
    }
  }
}
@media (max-width: 767.98px) {
  .FAQS {
    padding-bottom: 80px;
    .header1 {
      width: 100%;
      padding-bottom: 0px;
      margin-bottom: 0;

      .menu {
        position: fixed;
        right: 25px;
        top: 0px;
      }

      .logo {
        margin: 0;
        padding: 10px;
      }
    }

    .img1 {
      padding-left: 0;
      margin-left: 0;
    }

    .Fcontent {
      margin-top: 120px;

      .headline {
        font-size: 70px;
        flex-direction: row;
        align-items: flex-end;
        text-align: center;
        margin-left: 20px;
        padding: 0;

        .divider-img {
          margin-left: 0;
          margin-bottom: 30px;
          width: 50px;
          margin-left: 10px;
        }
      }
    }
  }
}
