body {
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}
.hm {
  background-color: #29057a;
  min-height: 100vh;
  .header1 {
    padding: 20px;
  }

  .logo {
    cursor: pointer;
    position: fixed;

    z-index: 1000;
    img {
      width: 100px;
      height: auto;
      max-width: 100%;
    }
  }

  .t1{
    margin-top: 80px;
  }

  .pointer{
    cursor: pointer;
  }

  .menu {
    margin-top: 30px;
  }

  .pointer {
    cursor: pointer;
  }

  .text-white {
    font-family: "San Francisco Text";
    h1 {
      font-family: "San Francisco Text";
      font-size: 24px;
      font-weight: 600;
    }
    p{
      font-weight: 10;
    }
  }

  // .headline {
  //   margin-top: 100px;
  //   font-size: 80px;
  //   font-family: "Usuzi", sans-serif;
  //   background: linear-gradient(90deg, rgba(226, 137, 254, 0) 0%, #e289fe 100%);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   -webkit-text-stroke: 2px white;
  //   line-height: 0.9;
  // }

  // .divider-img {
  //   margin-top: 18px;
  //   margin-left: 30px;
  // }

  // .subheadline {
  //   font-size: 80px;
  //   font-family: "Usuzi", sans-serif;
  //   color: white;
  //   line-height: 0.9;
  // }

  .ctn-hand {
    position: relative;
    width: 140px; /* Điều chỉnh kích thước theo nhu cầu của bạn */
    height: 140px; /* Điều chỉnh kích thước theo nhu cầu của bạn */
    display: flex;
    justify-content: center;
    align-items: center;

    .rotating-text {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: rotate 10s linear infinite; /* Animation xoay */

      text {
        font-size: 10px; 
        fill: #e289fe; 
      }
    }

    .hand-shake {
      width: 50px; /* Điều chỉnh kích thước theo nhu cầu của bạn */
      height: auto;
      animation: shake 0.5s infinite; /* Animation lắc */
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes shake {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(10deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(-10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }

  @media (max-width: 768px) {
    .header1 {
      width: 100%;
      padding-bottom: 0px;
      margin-bottom: 0;

      .headline {
        padding-top: 150px;
      }
      .headline,
      .subheadline {
        font-size: 52px;
        -webkit-text-stroke: 1px white;
      }

      .divider-img {
        width: 50px;
        margin-top: 10px;
        margin-left: 10px;
      }
    }

    .menu {
      position: fixed;
      right: 25px;
      top: 0px;
    }

    .row {
      flex-direction: column;
      align-items: center;
    }

    .text-white {
      text-align: start;
    }
  }
}

.row {
  margin-right: 0 !important; /* Hoặc bạn có thể sử dụng unset */
}

.second-section {
  background-color: #7438F8;
  padding: 40px 0;

  .second-title {
    text-align: center;
    margin-bottom: 20px;
    .headline {
      position: relative;
      display: inline-block;
      font-size: 52px;
      color: white;
      -webkit-text-fill-color: #fff;
      -webkit-text-stroke: none;
      padding-right: 40px;

      .ic1 {
        position: absolute;
        top: 0%;
        right: 0;
        transform: translateX(-315%);
        width: 54px;
        height: 52px;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 70px;
    .card1,
    .card2,
    .card3 {
      padding: 5px; // Điều chỉnh padding nếu cần

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 768px) {
    .cards {
      .card1,
      .card2,
      .card3 {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
          margin: 0;
          padding: 0;
          height: auto;
        }
      }

      .card1 {
        flex: 0 0 100%;
      }

      .card2,
      .card3 {
        flex: 0 0 48%;
      }
    }
  }
}

.third-section {
  background-color: #29057a;
  padding-top: 120px;
  color: #fff;
  .third-title {
    text-align: center;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .third-content {
    padding-top: 50px;
    display: flex;
    align-items: center;

    .left {
      padding: 10px;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .info-card {
      background-color: #5e3b9e;
      color: white;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 20px;
      border: 2px solid #e3d7fe;

      .card-text {
        font-size: 20px;
        font-weight: 600;
        font-family: "San Francisco Text";
        font-weight: normal;
      }
    }

    .info-card .icon {
      width: 48px;
      height: 48px;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    padding: 60px 10px;

    .third-title {
      margin-bottom: 0px;
      img {
        max-height: 200px;
      }
    }
  }
}

.fourth-section {
  background-color: #29057a;
  padding: 100px 0;

  .title-text {
    font-size: 28px;
    color: #ecb0fe;
    padding-top: 20px;
  }

  .fourth-1 {
    margin-top: 50px;

    .card {
      display: flex;
      align-items: center; // Căn giữa theo chiều dọc
      justify-content: center;
      padding: 0; // Căn giữa theo chiều ngang

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .fourth-footer {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;

    .footer-text {
      color: #fff;
      font-style: italic;
      padding-left: 10px;
      font-size: 18px;
      font-family: "San Francisco Text";
    }
  }
  @media (max-width: 768px) {
    .fourth-1 {
      flex-direction: column;

      .fourth-img {
        width: 100%;
        margin-bottom: 20px; // Thêm khoảng cách giữa các ảnh
      }
    }

    .fourth-footer {
      flex-direction: column;
      align-items: flex-start;

      .col-1 {
        margin-bottom: 10px;
      }
    }
  }
}

.fifth-section {
  text-align: center;
  padding-top: 3rem;
  background: #29057a;
  color: #fff;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .title {
    margin-bottom: 50px;
  }

  p {
    font-size: 18px;
    font-family: "San Francisco Text";
    margin-left: 260px;
  }

  .phone-images {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 100px;

    img {
      // max-width: 100%;
      height: 700px;
      border-radius: 10px;
      position: relative;
    }
  }
}

.sixth-section {
  background-color: #29057a;
  color: white;
  padding: 200px 0;

  .title {
    margin-bottom: 50px;
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;

    .side {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      .phone-images {
        width: 100%;
        max-width: 400px;
        margin-bottom: 2rem;
        margin-top: 30px;
        position: relative;
      }

      p {
        font-size: 20px;
        font-family: "San Francisco Text";
        font-weight: bold;
        text-align: center;
      }
    }

    .divider {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      .divider-line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.2);
      }

      .divider-line-horizontal {
        position: absolute;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);

        &.top {
          top: 0;
          left: -50vw;
          right: -50vw;
        }

        &.bottom {
          bottom: 0;
          left: -50vw;
          right: -50vw;
        }
      }

      .heart-icon {
        width: 160px;
        height: 160px;
        margin-bottom: 1rem;
        position: relative;
        z-index: 1;
        background-color: #29057a;
        padding: 10px;
      }
    }
  }
}

.seventh-section {
  background: #29057a;
  padding: 0px 40px 40px 40px;
  max-width: 100%;

  .privacy-image {
    width: 1430px;
  }
}
