@font-face {
  font-family: "Usuzi";
  src: url("/src/assets/fonts/usuzi-webfont/usuziv2.woff") format("woff2");
}

body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
