@font-face {
  font-family: "Usuzi";
  src: url("/src/assets/fonts/usuzi/usuziv2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Usuzi";
  src: url("/src/assets/fonts/usuzi/usuzv2i.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "San Francisco Text";
  src: url("/src/assets/fonts/sanfrancisco/SanFranciscoText-Medium.otf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Text";
  src: url("/src/assets/fonts/sanfrancisco/SanFranciscoText-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Text";
  src: url("/src/assets/fonts/sanfrancisco/SanFranciscoText-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
